* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  background-color: #ddd;
}
.display-container {
  background-color: #ddd;
  text-align: center;
}
.timer,
.flags,
.smiley {
  display: inline-block;
  margin: 1rem 10rem;
  font-size: 2rem;
}
.board-container {
  width: 100%;
  height: 100%;
}
table {
  margin: 5rem auto;
  max-height: 50%;
  max-width: 50%;
}
td {
  text-align: center;
  height: 2rem;
  background-color: grey;
  width: 2rem;
  min-width: 2rem;
  min-height: 2rem;
}
.hidden:hover {
  cursor: pointer;
}
input {
  margin: 0.2rem;
}
.hidden {
  background-color: #c9c9c9;
}
.lost {
  background-color: red;
}
.smiley:hover {
  cursor: pointer;
}
.reveal {
  background-color: bisque;
}
.end-msg {
  margin-left: 47%;
}
.won {
  color: #81acde;
}
.lose {
  color: red;
}
button {
  align-items: center;
  align-content: center;
  display: inline-block;
  font-size: 1rem;
  color: #333;
  background-color: #ddd;
  margin: 1rem 10.641926rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
}
button:hover {
  color: #f7c08a;
  background-color: #333;
}
.special-features {
  background-color: #333;
  color: #fff;
  overflow: auto;
}
footer {
  text-align: center;
  background-color: #444;
  color: #fff;
  padding: 20px;
}

.safeclick {
  color: palevioletred;
}
